.idea
.beyond
.nyc_output
node_modules
package-lock.json

!lib/client/browser/kernel/node_modules
!lib/client/browser/local/node_modules
!lib/client/browser/backend/node_modules
!lib/dashboard/node_modules
lib/dashboard/.beyond