node_modules
!lib/client/browser/kernel/node_modules
!lib/client/browser/local/node_modules
!lib/client/browser/backend/node_modules
!lib/dashboard/node_modules
!applications/firebase/modules/node_modules
!applications/testing-app/modules/node_modules

.idea
.nyc_output
package-lock.json

beyond_backend/
beyond_dependencies/
beyond_libraries/
beyond_modules/
tests/blank/builds
/tests/typescript/.beyond

.beyond
applications/*/.beyond
applications/**/.build
beyond-uploader-server/uploader/files
beyond-uploader-server/package-lock.json
applications/libraries/socites/graphs/logs
applications/libraries/socites/package-lock.json
applications/libraries/beyond-community/package-lock.json
applications/libraries/beyond-services/package-lock.json
applications/blank/builds
applications/javier/builds
applications/felix

lib/dashboard/.beyond
lib/dashboard/libraries/socites/graphs/logs
lib/dashboard/libraries/socites/package-lock.json
lib/dashboard/libraries/beyond-services/package-lock.json
lib/dashboard/libraries/beyond-community/package-lock.json
lib/dashboard/libraries/payments/package-lock.json
lib/dashboard/libraries/beyond-services/pods-templates
lib/dashboard/application/builds
logs
.log

applications/javier/service/build
/applications/hmr/_temp/processors/cache/
/applications/tests/_temp/processors/cache/
/applications/empty/henry
/applications/empty/beyond.json
/applications/empty
/tests/react-transitions/
/source/app/test*
/source/test*
/trash
